force-app/main/default/flows/SDO_Platform_Incident_Interactive_Engineering_Assessment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Problem_Values</name>
        <label>Set Problem Values</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>problem.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>problem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>problem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>problem.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>problem.Urgency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>problem.Impact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Impact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isMajorIncident</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Major_Incident.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Problem</targetReference>
        </connector>
    </assignments>
    <description>Interactive flow that allows engineering to provide an incident problem assessment, the creates an Incident Problem record to associate with the Incident. This is used by the Incident Management Orchestration.</description>
    <dynamicChoiceSets>
        <name>CategoryChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category</picklistField>
        <picklistObject>Problem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImpactChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Impact</picklistField>
        <picklistObject>Problem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Problem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UrgencyChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Urgency</picklistField>
        <picklistObject>Problem</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Create Incident Problem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident Assessment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Problem</name>
        <label>Create Problem</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Create_Related_Problem_and_Incident</targetReference>
        </connector>
        <inputReference>problem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Problem_and_Incident</name>
        <label>Create Related Problem and Incident</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Incident</targetReference>
        </connector>
        <inputAssignments>
            <field>IssueId</field>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedIssueId</field>
            <value>
                <elementReference>problem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshipType</field>
            <value>
                <stringValue>Caused By</stringValue>
            </value>
        </inputAssignments>
        <object>ProblemIncident</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Incident</name>
        <label>Update Incident</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Impact</field>
            <value>
                <elementReference>Impact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMajorIncident</field>
            <value>
                <elementReference>Major_Incident.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <object>Incident</object>
    </recordUpdates>
    <screens>
        <name>Information_Screen</name>
        <label>Information Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Problem_Screen</targetReference>
        </connector>
        <fields>
            <name>Information_Text</name>
            <fieldText>&lt;p&gt;You are the assigned &lt;b&gt;escalation manager &lt;/b&gt;for a newly submitted incident.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;ACTION ITEMS:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Create a problem assessment.&lt;/li&gt;&lt;li&gt;Evaluate this incident&apos;s severity.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Problem_Screen</name>
        <label>Problem Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Problem_Values</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Category</name>
            <choiceReferences>CategoryChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>PriorityChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>High</stringValue>
            </defaultValue>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Urgency</name>
            <choiceReferences>UrgencyChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>High</stringValue>
            </defaultValue>
            <fieldText>Urgency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Impact</name>
            <choiceReferences>ImpactChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>High</stringValue>
            </defaultValue>
            <fieldText>Impact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Problem_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Problem_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Major_Incident</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Major Incident</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Major_Incident_Text</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;WARNING: &lt;/b&gt;By toggling this switch you will initiate our company-wide incident response plan.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Major_Incident.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Impact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>High</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Information_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>incident</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Incident</objectType>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMajorIncident</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>problem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Problem</objectType>
    </variables>
</Flow>
