force-app/main/default/flows/SDO_Platform_Incident_Interactive_Service_Case_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Incident_Cases</name>
        <label>Get Incident Cases</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>SDO_Platform_Get_Incident_Related_Cases</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cases_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Cases_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>personalizedMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Cases_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Cases_collection</name>
        <label>Add to Cases collection</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Name</name>
        <label>Set First Name</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Loop.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Loop.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_Status</name>
        <label>Update Case Status</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Cases_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status1_0</name>
        <label>Check Status</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_In_Progress1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Incident.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Incident_Cases</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <description>Interactive flow that enables support representatives to update all Cases associated with an Incident. This is flow is used by the Incident Management Orchestration.</description>
    <interviewLabel>Update Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Incident Cases</label>
    <loops>
        <name>Cases_Loop</name>
        <label>Cases Loop</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Incident_Cases.cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_First_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cases_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cases_0</name>
        <label>Update Cases</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <inputReference>cases</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;This incident is not &lt;b&gt;In Progress&lt;/b&gt;. This workflow is only valid for active incidents.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Cases_Screen</name>
        <label>Update Cases Screen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>Send updates to impacted customers.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Message to send impacted customers.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Cases_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>personalizedMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following email was sent to: {!email}

Dear {!firstName},

{!message}

Thank you!</text>
    </textTemplates>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
