force-app/main/default/flows/SDO_Platform_Incident_Case_Notify_Account_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Related_Cases</name>
        <label>Get Related Cases</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>SDO_Platform_Get_Incident_Related_Cases</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cases_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>incidentId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Open_Message</name>
        <label>Set Open Message</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incident Alert</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>body</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An incident is impacting &apos;{!Cases_Loop.Account.Name}&apos;. Click here for more information.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Account_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Resolved_Message</name>
        <label>Set Resolved Message</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incident Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>body</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The incident impacting &apos;{!Cases_Loop.Account.Name}&apos; has now been resolved.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notify_Account_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Incident_Status</name>
        <label>Check Incident Status</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Notify_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Incident.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Incident.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Open_Message</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Is_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Incident.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Resolved_Message</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
    </decisions>
    <description>Notifies account owners when updates are made to their customer&apos;s incident-related cases. The flow keeps sales teams informed about major incidents that are impacting their customers.</description>
    <interviewLabel>Notify Incident Case Account Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident: Notify Case Account Owners</label>
    <loops>
        <name>Cases_Loop</name>
        <label>Loop through Cases</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Related_Cases.cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Incident_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Incident</name>
        <label>Get Incident</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Incident</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Notify_Account_Owner</name>
        <label>Notify Account Owner</label>
        <locationX>528</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Cases_Loop</targetReference>
        </connector>
        <flowName>SDO_Platform_Notification_Send_Custom</flowName>
        <inputAssignments>
            <name>body</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>title</name>
            <value>
                <elementReference>title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>Cases_Loop.Account.Owner.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
