force-app/main/default/flows/SDO_Platform_Incident_Case_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Random_Origin</name>
        <label>Get a random Case Origin for the new Case</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>SDO_Platform_Get_Random_String</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Random_Related_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>Origins</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Random_Related_Contact</name>
        <label>Get Random Related Contact</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>SDO_Platform_Get_Random_Account_Contact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Random_Subject</name>
        <label>Get a random Subject for this new Case</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>SDO_Platform_Get_Random_String</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Origin_Options</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>stringCollection</name>
            <value>
                <elementReference>Subjects</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Generate_Case</name>
        <label>Generate Case</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Random_Subject.returnString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot access online services. When trying to access the service it displays a &quot;Service Unavailable&quot; message. </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Random_Origin.returnString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Support</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Random_Related_Contact.contactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Origin_Options</name>
        <label>Create a collection of possible Case Origins</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Origins</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Origins</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Origins</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Origins</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Origins</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Text Session</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Random_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subject_Options</name>
        <label>Create a collection of possible Case Subjects</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Subjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Service unavailable!</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Can&apos;t access service.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;Unavailable&quot; error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Website down</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Can&apos;t login.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Getting unavailable error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Getting error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>System is down</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Random_Subject</targetReference>
        </connector>
    </assignments>
    <description>Generates a Case for the Orchestrator Incident Management demo. This is a sub-flow which is used by the Generate Incident and Cases flow. This is used by the Incident Management Orchestrator demo to generate demo data.</description>
    <interviewLabel>Generate Incident Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident: Generate Related Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Subject_Options</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Origins</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Subjects</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
