force-app/main/default/flows/SDO_Platform_Incident_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Accounts_with_Contacts</name>
        <label>Get Accounts with Contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>SDO_Platform_Get_Accounts_with_Contacts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <outputParameters>
            <assignToReference>accounts</assignToReference>
            <name>accounts</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_1_to_Count_0</name>
        <label>Add 1 to Count</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Case_Related_Issue</name>
        <label>Add Case Related Issue</label>
        <locationX>264</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Case_Related_Issues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Case_Related_Issue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cases_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Case_Collection</name>
        <label>Add to Case Collection</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_Count_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Accounts_List</name>
        <label>Reset Accounts and terminate loop</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>accounts</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Related_Issue</name>
        <label>Set Case Related Issue</label>
        <locationX>264</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Case_Related_Issue.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Related_Issue.RelationshipType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Root Cause</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Related_Issue.RelatedEntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Related_Issue.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_Related_Issue.RelatedIssueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incidentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_Related_Issue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Count2</name>
        <label>Check Count</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Generate_Incident_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X20_or_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Accounts_List</targetReference>
            </connector>
            <label>20 or more</label>
        </rules>
    </decisions>
    <description>Generates a new Incident record and several related Cases. This flow is used by the Platform Demos Control Panel to initialize the Incident Management Orchestrator demo.</description>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Generate Incident and Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident: Generator</label>
    <loops>
        <description>Here, we&apos;re looping through 20 accounts and generating a random Case for each Account. Later we&apos;ll use a Junction Object to associate each of the generated Cases with the Incident we generated.</description>
        <name>Account_Loop</name>
        <label>Loop through Accounts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Count2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Here, we&apos;re looping through each of our generated Cases, then we&apos;re generating a Case Related Issue record, which is a Junction Object, to associate each of these new Cases with the Incident we generated.</description>
        <name>Cases_Loop</name>
        <label>Cases Loop</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <collectionReference>cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Case_Related_Issue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Related_Issues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Related_Issues</name>
        <label>Create Case Related Issues</label>
        <locationX>176</locationX>
        <locationY>1766</locationY>
        <inputReference>Case_Related_Issues</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Cases_Loop</targetReference>
        </connector>
        <inputReference>cases</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Incident</name>
        <label>Create an Incident</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>incidentId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Accounts_with_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Customers are unable to access their online services. This is impacting users of both the website and mobile. The reported error is &quot;Service Unavailable&quot;..</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetectedDateTime</field>
            <value>
                <elementReference>now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Outage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>Incident</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Incident</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Incident_Case</name>
        <label>Generate Incident Case</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Add_to_Case_Collection</targetReference>
        </connector>
        <flowName>SDO_Platform_Incident_Case_Generator</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>Account_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>case</assignToReference>
            <name>case</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case_Related_Issue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>Case_Related_Issues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseRelatedIssue</objectType>
    </variables>
    <variables>
        <name>cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>incidentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number_of_Accounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
