force-app/main/default/flows/SDO_Platform_Incident_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Evaluate_Severity</name>
        <label>Evaluate Severity</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Stage_2b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Major_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage_1_Incident_Assessment.Outputs.isMajorIncident</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_2a</targetReference>
            </connector>
            <label>Major Incident</label>
        </rules>
    </decisions>
    <description>Orchestrates a coordinated Incident response plan, in parallel, across multiple teams.</description>
    <interviewLabel>Incident Response Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident: Orchestration</label>
    <orchestratedStages>
        <name>Stage_1</name>
        <label>Incident: Assess Impact</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Evaluate_Severity</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>incident</name>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>incidentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>requiredStatus</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>SDO_Platform_Incident_Status_Evaluate</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Stage_1_Get_Escalation_Manager</name>
            <actionName>SDO_Platform_User_Get_by_Alias</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>alias</name>
                <value>
                    <stringValue>Quentin</stringValue>
                </value>
            </inputParameters>
            <label>Get Escalation Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_1_Notify_Escalation_Manager</name>
            <actionName>SDO_Platform_Notification_Send_Custom</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_1_Get_Escalation_Manager.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You are the assigned escalation manager for a new incident. Please provide a problem assessment.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>New Incident Reported</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>Stage_1_Get_Escalation_Manager.Outputs.user.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Escalation Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_1_Incident_Assessment</name>
            <actionName>SDO_Platform_Incident_Interactive_Engineering_Assessment</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Stage_1_Get_Escalation_Manager.Outputs.user.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_1_Get_Escalation_Manager.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Get Incident Assessment</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_1_Show_Incident_Instructions</name>
            <actionName>SDO_Platform_Incident_Instructions</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Show Incident Instructions</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_2a</name>
        <label>(Major) Assign Teams</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Stage_3a</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>incidentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>requiredStatus</name>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>SDO_Platform_Incident_Status_Evaluate</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Stage_2a_Get_Service_Lead</name>
            <actionName>SDO_Platform_User_Get_by_Alias</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>alias</name>
                <value>
                    <stringValue>Tim</stringValue>
                </value>
            </inputParameters>
            <label>Get Service Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_2a_Notify_Support_Lead</name>
            <actionName>SDO_Platform_Notification_Send_Custom</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_2a_Get_Service_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You are the assigned support lead for a major incident. Please update cases related to this incident.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Major Incident Opened</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>Stage_2a_Get_Service_Lead.Outputs.user.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Support Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_2a_Get_Marketing_Lead</name>
            <actionName>SDO_Platform_User_Get_by_Alias</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>alias</name>
                <value>
                    <stringValue>Sue</stringValue>
                </value>
            </inputParameters>
            <label>Get Marketing Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_2a_NotifyMarketingLead</name>
            <actionName>SDO_Platform_Notification_Send_Custom</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_2a_Get_Marketing_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You are the assigned marketing lead for a major incident. Please update cases related to this incident.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>New Major Incident</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>Stage_2a_Get_Marketing_Lead.Outputs.user.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Marketing Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_2a_Update_Incident_Status</name>
            <actionName>SDO_Platform_Incident_Status_Update</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_2a_NotifyMarketingLead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <stringValue>In Progress</stringValue>
                </value>
            </inputParameters>
            <label>Set Status to &apos;In Progress&apos;</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_2b</name>
        <label>Assign Teams</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Stage_3b</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>incidentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>requiredStatus</name>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>SDO_Platform_Incident_Status_Evaluate</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Stage_2b_Get_Service_Lead</name>
            <actionName>SDO_Platform_User_Get_by_Alias</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>alias</name>
                <value>
                    <stringValue>Tim</stringValue>
                </value>
            </inputParameters>
            <label>Get Service Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_2b_Notify_Support_Lead</name>
            <actionName>SDO_Platform_Notification_Send_Custom</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_2b_Get_Service_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You are the assigned support lead for a new incident. Please update cases related to this incident.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>New Incident Opened</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>Stage_2b_Get_Service_Lead.Outputs.user.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Support Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_2b_Update_Incident_Status</name>
            <actionName>SDO_Platform_Incident_Status_Update</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_2b_Notify_Support_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <stringValue>In Progress</stringValue>
                </value>
            </inputParameters>
            <label>Set Status to &apos;In Progress&apos;</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_3a</name>
        <label>(Major) Coordinate Response</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Stage_4a</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>incidentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>requiredStatus</name>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>SDO_Platform_Incident_Status_Evaluate</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Stage_3a_Update_Incident</name>
            <actionName>SDO_Platform_Incident_Interactive_Engineering_Updates</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(Engineering) Update Incident</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_3a_Update_Cases</name>
            <actionName>SDO_Platform_Incident_Interactive_Service_Case_Updates</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Stage_2a_Get_Service_Lead.Outputs.user.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(Support) Update Cases</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_3a_Marketing_Workflow</name>
            <actionName>SDO_Platform_Incident_Interactive_Marketing</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Stage_2a_Get_Marketing_Lead.Outputs.user.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(Marketing) External updates</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_3a_Notify_Account_Owners</name>
            <actionName>SDO_Platform_Incident_Case_Notify_Account_Owners</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Stage_3a_Update_Cases.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(Sales) Notify Account Owners</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_3b</name>
        <label>Coordinate Response</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Stage_4b</targetReference>
        </connector>
        <exitActionInputParameters>
            <name>incidentId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </exitActionInputParameters>
        <exitActionInputParameters>
            <name>requiredStatus</name>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </exitActionInputParameters>
        <exitActionName>SDO_Platform_Incident_Status_Evaluate</exitActionName>
        <exitActionType>evaluationFlow</exitActionType>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Stage_3b_Update_Incident</name>
            <actionName>SDO_Platform_Incident_Interactive_Engineering_Updates</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(Engineering) Update Incident</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_3b_Update_Cases</name>
            <actionName>SDO_Platform_Incident_Interactive_Service_Case_Updates</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>Stage_2b_Get_Service_Lead.Outputs.user.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <exitActionInputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </exitActionInputParameters>
            <exitActionInputParameters>
                <name>requiredStatus</name>
                <value>
                    <stringValue>Resolved</stringValue>
                </value>
            </exitActionInputParameters>
            <exitActionName>SDO_Platform_Incident_Status_Evaluate</exitActionName>
            <exitActionType>evaluationFlow</exitActionType>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(Support) Update Cases</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_4a</name>
        <label>(Major) Communicate Resolution</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Stage_5</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Stage_4a_Notify_Support_Lead</name>
            <actionName>SDO_Platform_Notification_Send_Custom</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>This incident has now been resolved. All cases associated with this incident will be automatically closed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Major Incident Resolved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>Stage_2a_Get_Service_Lead.Outputs.user.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Support Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_4a_Notify_Marketing_Lead</name>
            <actionName>SDO_Platform_Notification_Send_Custom</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>This incident has now been resolved. All cases associated with this incident will be automatically closed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Major Incident Resolved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>Stage_2a_Get_Marketing_Lead.Outputs.user.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Marketing Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Stage_4a_Notify_Account_Owners</name>
            <actionName>SDO_Platform_Incident_Case_Notify_Account_Owners</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Account Owners</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_4b</name>
        <label>Communicate Resolution</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Stage_5</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Stage_4b_Notify_Support_Lead</name>
            <actionName>SDO_Platform_Notification_Send_Custom</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>This incident has now been resolved. All cases associated with this incident will be automatically closed.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Incident Resolved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userId</name>
                <value>
                    <elementReference>Stage_2b_Get_Service_Lead.Outputs.user.Id</elementReference>
                </value>
            </inputParameters>
            <label>Notify Support Lead</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Stage_5</name>
        <label>Close Incident and Cases</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Close_All_Related_Cases</name>
            <actionName>SDO_Platform_Incident_Case_Close_All</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredStatus</name>
                <value>
                    <stringValue>Closed</stringValue>
                </value>
            </inputParameters>
            <label>Close All Related Cases</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
        <stageSteps>
            <name>Close_Incident</name>
            <actionName>SDO_Platform_Incident_Status_Update</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Close_All_Related_Cases.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>incidentId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <stringValue>Closed</stringValue>
                </value>
            </inputParameters>
            <label>Close Incident</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Incident</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
